.App {
  font-family: sans-serif;
  text-align: center;
}

.trails-div {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}

.trails-text {
  background-color: transparent;
  padding: -1em;
  margin-right: -0.2em;
  border: none;
}
.arrow {
  background-color: transparent;
  padding: -1em;
  margin-right: -1.2em;
  top: 2em;
  border: none;
}
